/*=================================== Nav Bar Style ===================================*/
nav{
    background-color: var(--nav-color) !important;
    box-shadow: 0 4px 8px #dce8e9;
}

.navbar-link.is-arrowless {
    font-size: 36px;
}

nav .navbar-item .navbar-dropdown i{
    font-size: 16px;
    padding-left: 10px;
}

nav .navbar-item .navbar-dropdown{
    border-bottom: 2px solid #8e44ad;
    border-top: 2px solid #8e44ad;
}

.navbar-menu.is-active {
    position: absolute;
    width: 100%;
    background-color: var(--second-color);
}

.navbar-menu .is-bell{
    font-size: 20px;
    margin-left: 10px;
    padding-right: 21px;
}

.navbar-brand .navbar-item.logo {
    padding: 0 !important;
    padding-right: 15px !important;
}

.navbar-brand .navbar-item.logo img {
    max-height: 3rem !important;
}
/*=================================== Nav Bar Style ===================================*/



.footer {
    background-color: var(--second-color);
    padding: 60px 24px 80px !important;
}

footer img {
    width: 140px;
}

.location {
    margin-top: 10px;
}

.locationLink {
    color: #535d75;
}

.locationLink label{
    cursor: pointer;
}

.locationLink i {
    font-size: 22px;
}

.locationLink:hover {
    color: var(--main-color);
}

.footer .social1{
    width: 42px;
    height: 42px;
    background-color: #e9eff5;
    text-align: center;
    margin: 15px 0 0 20px;
    line-height: 42px;
    border-radius: 5px;
    transition: 0.5s;
}

.footer .social1 i{
    padding: 0;
    color: var(--main-color);
    transition: 0.5s;
}

.footer .social1:hover{
    background-color: var(--main-color);
}

.footer .social1:hover i{
    color: #e9eff5;
}

.footer .subtitle.is-5 {
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer .column li {
    margin-bottom: 0.8rem;
}

.footer .column li a {
    color: #535d75;
}

.footer .column li:hover a {
    color: var(--main-color);
}

.licens {
    background-color: #f0f2fb;
    padding: 25px 0;
}